<div id="clock"></div>

<script>
    $(document).ready(function() {
        setInterval(function() {
            $("#clock").html(new Date().toLocaleTimeString());
        }, 1000);
    });
</script>

<p>Select Your ID</p>


<%= form_with model: @worker, method: :patch do |form| %>
  <%= form.select "worker_id", options_from_collection_for_select(@workers, :id, :id) %>
  <%= form.label "Active?" %>
  <%= form.check_box :status_active %>
  <%= form.submit %>

<% end %>
